/*커뮤니티 노하우 시작*/
#Know_section02 {
  position: relative;
  margin: 0 auto;
  width: 1200px;
}

#Know_section02 .know_header02 {
  width: 600px;
}

#Know_section02 .know_header02 .title_bg {
  font-size: 32px;
  font-weight: 700;
}

.know_box02 {
  margin-top: 40px;
  width: 1200px;
  display: flex;
}

.know_box02 .box_l {
  margin-right: 40px;
  width: 270px;
}

.know_box02 .box_l .menu {
  width: 268px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  background-color: #fff;
}

.know_box02 .box_l .menu .menu01 {
  box-sizing: border-box;
  padding: 18px 20px;
  background: #70bab5;
  border-bottom: 1px solid #ececec;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}

.know_box02 .box_l .menu .menu02 {
  box-sizing: border-box;
  padding: 18px 20px;
  background: #fff;
  color: #333;
}

.know_box02 .box_l .menu .menu02 .i_icon {
  float: right;
  position: relative;
  top: 2px;
  width: 16px;
  height: 16px;
  background: url("../image/community/right_arrow.png") no-repeat;
}

.know_box02 .know_r02 {
  width: 890px;
}

.box_r_header02 {
  display: flex;
  width: 890px;
}

.box_r_header02 h3 {
  display: flex;
  font-size: 20px;
  font-weight: 700;
}

.box_r_header02 p {
  display: flex;
  margin: 2px 20px;
  font-size: 16px;
  color: #555;
}

.t_table02 {
  display: flex;
}

.t_table02 .th_01 {
  padding: 17px 0;
  text-align: center;
}

.t_table02 .th_02 {
  display: flex;
  justify-content: left;
  padding: 17px 25px;
}

.t_table02 .th_03 {
  text-align: center;
}

.t_table02 .th_04 {
  text-align: center;
}

.t_table02 .th_05 {
  text-align: center;
}

.t_table02 .th_06 .i_icon {
  display: inline-block;
  justify-content: center;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background: url("../image/community/sharebtn.png") no-repeat;
}

.know_r02 .btn_area {
  display: flex;
  margin-top: 20px;
  width: 890px;
}

.know_r02 .btn_area .modify-btn {
  margin: 0 10px 0 764px;
}

.know_r02 .btn_area a {
  padding: 10px 15px;
}

.cont_area {
  padding: 30px 20px;
  color: #555;
  line-height: 24px;
}

.know_r02 .recommend {
  display: flex;
  justify-content: center;
  width: 890px;
  padding-bottom: 30px;
}

.know_r02 .recommend .up,
.know_r02 .recommend .down {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.know_r02 .recommend .up {
  justify-content: center;
  margin-right: 20px;
  padding: 12px 13px;
  border-radius: 5px;
}

.know_r02 .recommend .up .i_icon {
  display: flex;
  width: 17px;
  height: 20px;
  background: url("../image/community/up.png") no-repeat;
}

.know_r02 .recommend .up span {
  display: flex;
  margin-top: 8px;
  color: #3e778a;
  width: 100%;
  justify-content: center;
}

.know_r02 .recommend .down {
  text-align: center;
  padding: 12px 13px;
  border-radius: 5px;
}

.know_r02 .recommend .down .i_icon {
  display: flex;
  width: 17px;
  height: 20px;
  background: url("../image/community/down.png") no-repeat;
}

.know_r02 .recommend .down span {
  display: flex;
  margin-top: 8px;
  color: #777;
  width: 100%;
  justify-content: center;
}

.know_r02 .comment .tr_com {
  padding: 15px 10px;
  border-bottom: 1px solid #dddddd;
}

.know_r02 .comment .tr_com02 {
  padding: 15px 10px;
  border-bottom: 1px solid #dddddd;
}

.know_r02 .comment .tr_com02 .i_icon {
  display: flex;
  width: 30px;
  height: 68px;
  background: url("../image/community/td.png") no-repeat;
}

.know_r02 .comment .tr_com02 .td_03 {
  display: flex;
}

.know_r02 .comment .tr_com02 .td_04 {
  vertical-align: middle;
}

.know_r02 .comment .tr_com03 .td_01 {
  font-weight: 400;
  color: #555;
}

.know_r02 .comment .tr_com03 .td_02 .field_input {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 100%;
}

.know_r02 .comment .tr_com03 .td_02 .field_input input:focus {
  /* border: #3e778a 2px solid;
  outline: #3e778a; */
  border: 1px solid #dddddd;
  outline: none;
}

.know_r02 .comment .tr_com03 .td_02 .field_input input {
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 10px 10px 53px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #999999;
  width: 100%;
  opacity: 0.5;
}

.know_r02 .comment .tr_com03 a {
  display: flex;
  margin: 15px 15px 15px 0;
  padding: 31px 42px;
  background-color: #3e778a;
  border-radius: 5px;
  box-sizing: border-box;
  font-weight: 700;
  color: #fff;
}

.know02_row {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

.know02_row a {
  box-sizing: border-box;
  padding: 20px 72px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
}
