/*커뮤니티 노하우 시작*/
.Know_section {
  position: relative;
  margin: 0 auto;
  width: 1200px;
}

.title_header {
  width: 600px;
  height: 45px;
}

.title_header .title_bg {
  font-size: 32px;
  font-weight: 700;
}

.know_box {
  margin-top: 40px;
  width: 1200px;
  display: flex;
}

.know_box .box_l {
  margin-right: 40px;
  width: 270px;
}

.know_box .box_l .menu {
  width: 268px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  background-color: #fff;
}

.know_box .box_l .menu .menu01 a {
  width: 268px;
  background: #70bab5;
  border-bottom: 1px solid #ececec;
}

.know_box .box_l .menu .menu01 p {
  margin: 18px 15px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}

.know_box .box_l .menu .menu02 a {
  width: 268px;
  height: 59px;
}

.know_box .box_l .menu .menu02 p {
  margin: 18px 15px;
  font-size: 16px;
  color: #333;
}

.know_box .box_l .menu .menu02 .i_icon {
  float: right;
  margin: 22px 20px;
  width: 16px;
  height: 16px;
  background: url("../image/community/right_arrow.png") no-repeat;
}

.know_box .box_r {
  width: 890px;
}

.box_r_header {
  display: flex;
  width: 890px;
  padding: 0px 0px 20px;
}

.box_r_header h3 {
  display: flex;

  font-size: 20px;
  font-weight: 700;
}

.box_r_header p {
  display: flex;
  margin: 2px 20px;
  font-size: 16px;
  color: #555;
}

.box_r .tap_list {
  display: flex;
  width: 890px;
}

.box_r .tap_list .btn01 {
  margin-right: 10px;
  padding: 8px 20px;
}

.box_r .tap_list .btn6 {
  margin-right: 10px;
  padding: 8px 20px;
}

.t_table .th_01{
  text-align: center;
  vertical-align: middle;
}

.t_table .th_02{
  text-align: center;
  vertical-align: middle;
}

.t_table .th_03{
  text-align: center;
  vertical-align: middle;
}

.t_table .th_04{
  text-align: center;
  vertical-align: middle;
}

.t_table .th_05{
  text-align: center;
  vertical-align: middle;
}

.t_table .th_06{
  text-align: center;
  vertical-align: middle;
}

.t_table .td_01{
  text-align: center;
  width: 78px;
  padding: 18px 0;
}

.t_table .td_02{
  width: 392px;
  padding: 18px 0;
}

.t_table .td_03{
  text-align: center;
  width: 120px;
  padding: 18px 0;
}

.t_table .td_04{
  text-align: center;
  width: 100px;
  padding: 18px 0;
}

.t_table .td_05{
  text-align: center;
  width: 120px;
  padding: 18px 0;
}

.t_table .td_06{
  text-align: center;
  width: 80px;
  padding: 18px 0;
}

.row{
  margin-top: 20px;
  width: 890px;
  height: 48px;
}

.row .text-input{
  margin-top: 0px;
  padding: 10px 0 10px 10px;
  width: 300px;
  border: 1px solid #CDDCE1;
  border-radius: 4px;
}

.row .text-input input{
  width: calc(100% - 38px);
  border: none;
  outline: none;
  font-size: 16px;
}

.row .text-input input::placeholder{
  color: #BBBBBB;
}

.row .text-input img{
  float: right;
  margin-right: 10px;
}

.row .btn01 {
  float: right;
  padding: 13px 20px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}

/*
   height 빼고 padding으로
   float 빼기
   테이블 td, th 공통으로 빼고
   가로값은 th에 바로 먹이기

*/
