/*커뮤니티 노하우 시작*/
.Know_section {
  position: relative;
  margin: 0 auto;
  width: 1200px;
}

.title_header {
  width: 600px;
  height: 45px;
}

.title_header .title_bg {
  font-size: 32px;
  font-weight: 700;
}

.know_box02 {
  margin-top: 40px;
  width: 1200px;
  display: flex;
}

.know_box02 .box_l {
  margin-right: 40px;
  width: 270px;
}

.know_box02 .box_l .menu {
  width: 268px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  background-color: #fff;
}

.know_box02 .box_l .menu .menu01 {
  box-sizing: border-box;
  padding: 18px 20px;
  background: #70bab5;
  border-bottom: 1px solid #ececec;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}

.know_box02 .box_l .menu .menu02 {
  box-sizing: border-box;
  padding: 18px 20px;
  background: #fff;
  color: #333;
}

.know_box02 .box_l .menu .menu02 .i_icon {
  float: right;
  position: relative;
  top: 2px;
  width: 16px;
  height: 16px;
  background: url("../image/community/right_arrow.png") no-repeat;
}

.know_box02 .box_r {
  width: 890px;
}

.box_r_header02 {
  display: flex;
  width: 890px;
}

.box_r_header02 h3 {
  display: flex;
  font-size: 20px;
  font-weight: 700;
}

.box_r_header02 p {
  display: flex;
  margin: 2px 20px;
  font-size: 16px;
  color: #555;
}

.t_table02{
  display: flex;
}

.t_table02 .th_01{
  padding: 17px 0;
  text-align: center;
}

.t_table02 .th_02{
  display: flex;
  padding: 17px 25px;
}

.t_table02 .th_03{
  text-align: center;
}

.t_table02 .th_04{
  text-align: center;
}

.t_table02 .th_05{
  text-align: center;
}

.t_table02 .th_06 .i_icon{
  display: flex;
  text-align: center;
  width: 32px;
  background: url("../image/community/sharebtn.png") no-repeat;
}

.box_r .btn_area{
  display: flex;
  padding: 20px 0px 0px;
  width: 890px;
}

.btn_area .modify-btn{
  margin: 0 10px 0 764px;
}

.btn_area a{
  padding: 10px 15px;
}

.cont_area{
  padding: 30px 20px;
  color: #555;
  line-height: 24px;
}

.recommend{
  display: flex;
  width: 890px;
  padding-bottom: 30px;
}

.recommend .up{
  display: flex;
  margin-right: 20px;
  padding: 12px 13px;
  border-radius: 5px;
}

.recommend .up .i_icon{
  display: flex;
  text-align: center;
  width: 24px;
  background: url("../image/community/up.png") no-repeat;
}

.recommend .up span{
  display: flex;
  text-align: center;
  padding-top: 5px;
  color: #3E778A;
}

.recommend .down{
  display: flex;
  padding: 12px 13px;
  border-radius: 5px;
}

.recommend .down .i_icon{
  display: flex;
  text-align: center;
  width: 24px;
  background: url("../image/community/down.png") no-repeat;
}

.recommend .down span{
  display: flex;
  text-align: center;
  padding-top: 5px;
  color: #777;
}

.comment .tr_com{
  padding: 15px 10px;
  border-bottom: 1px solid #DDDDDD;
}

.comment .tr_com02{
  padding: 15px 10px;
  border-bottom: 1px solid #DDDDDD;
}

.tr_com02 .td_03{
  vertical-align: middle;
}

.row{
  margin-top: 30px;
  justify-content: center;
}

.row a {
  display: flex;
  box-sizing: border-box;
  padding: 20px 72px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
}
