/*  common  */

#app {
  position: relative;
}

#container {
  position: relative;
  padding: 60px 0;
  max-width: 1200px;
  width: 100%;
  margin: 90px auto 0 auto;
  min-height: calc(100% - 280px);
  height: 100%;
}
#project-container {
  position: relative;
  padding-bottom: 60px;
  width: 100%;
  margin: 90px auto 0 auto;
  min-height: calc(100% - 280px);
  height: 100%;
}

#main-container {
  position: relative;
  width: 100%;
  min-height: calc(100% - 280px);
  height: 100%;
}

/* Main Header */
#main-header {
}

.main-header-none {
  background-color: transparent !important;
}

.main-header-none .side-wrap a {
  color: #e2eef0 !important;
}

.main-header-none .gnb-wrap .menu-wrap a {
  color: #fff !important;
}

.main-header-none .side-wrap a:nth-last-child(1):after {
  background: #3e778a !important;
}

/* Header */
header {
  position: fixed;
  width: 100%;
  height: 90px;
  top: 0;
  background-color: #fff;
  z-index: 50;
}

#header {
  border-bottom: 1px solid rgba(159, 190, 197, 0.5);
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

#header .logo-wrap img {
  max-width: 192px;
  width: 100%;
}
#header .gnb-wrap {
  display: flex;
  justify-content: center;
  gap: 40px;
}
#header .gnb-wrap .menu-wrap {
  position: relative;
  height: 90px;
  display: flex;
  align-items: center;
}
#header .gnb-wrap .menu-wrap a {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  font-family: "Pretendard" !important;
}
#header .gnb-wrap .menu-wrap:hover .submenu {
  display: block;
}
#header .gnb-wrap .menu-wrap .submenu {
  position: absolute;
  top: 70px;
  left: -50%;
  text-align: center;
  background: #ffffff;
  border: 1px solid rgba(159, 190, 197, 0.5);
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  width: 120px;
  display: none;
}
#header .gnb-wrap .menu-wrap .submenu a {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #333333 !important;
  padding: 15px 0;
  display: block;
}
#header .gnb-wrap .menu-wrap .submenu a:hover {
  background: #e2eef0;
}
#header .side-wrap {
  display: flex;
  justify-content: end;
}
#header .side-wrap a {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #777777;
  font-family: "Pretendard" !important;
  position: relative;
}
#header .side-wrap a:nth-last-child(1) {
  margin-left: 24px;
}
#header .side-wrap a:nth-last-child(1):after {
  content: "";
  position: absolute;
  width: 2px;
  height: 14px;
  left: -14px;
  background: #ddd;
  top: 0;
}
#header .side-wrap .alarm-wrap {
  position: relative;
  display: flex;
  align-items: center;
  filter: drop-shadow(0px 8px 24px rgba(0, 0, 0, 0.15));
}
#header .side-wrap .alarm {
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 3px 6px;
  background: #ff6464;
  border-radius: 50px;
  gap: 4px;
}
#header .side-wrap .alarm span {
  color: #ffffff;
}
#header .side-wrap .alarm img {
  width: 14px;
  height: 15px;
}
#header .right-menu {
  display: flex;
  justify-content: end;
  gap: 16px;
  align-items: center;
}
#header .alarm-popup {
  position: absolute;
  top: 30px;
  left: -120px;
  width: 280px;
  max-height: 330px;
  height: auto;
  min-width: 66px;
  overflow-y: auto;
  overflow-x: hidden;
  word-break: keep-all;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  background: #ffffff;
  z-index: 50;
}
#header .alarm-popup .new {
  background: #fff0f0;
}
#header .alarm-popup > div:nth-child(1) {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#header .alarm-popup > div {
  padding: 15px;
  width: 100%;
  border-bottom: 1px solid #ececec;
}
#header .alarm-popup > div:nth-last-child(1) {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: none;
}
#header .alarm-popup .title {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 5px;
  color: #777777;
}
#header .alarm-popup .title span {
  font-weight: 700;
  color: #333333;
}
#header .alarm-popup .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #555555;
}

/*  Footer  */
footer {
  background: #fafafc;
  border-top: 1px solid #dddddd;
  width: 100%;
}
#footer {
  display: flex;
  justify-content: flex-start;
  gap: 64px;
  align-items: flex-start;
  width: 100%;
  padding: 40px 0;
  margin: 0 auto;
  max-width: 1200px;
}
#footer .logo-wrap {
  width: 205px;
}
#footer .logo-wrap img {
  width: 100%;
}
#footer .info-wrap {
  width: calc(100% - 245px);
}
#footer .info-wrap .sitemap {
  display: flex;
  gap: 40px;
  margin-bottom: 30px;
}
#footer .info-wrap .sitemap .link {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  font-family: "Pretendard" !important;
  color: #666666;
}
#footer .info-wrap .sitemap .link:hover {
  color: #70bab5;
  font-weight: 700;
}
#footer .info-wrap .line {
  margin-bottom: 3px;
}
#footer .info-wrap .line span {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  font-family: "Pretendard" !important;
  color: #666666;
  position: relative;
}
#footer .info-wrap .line span:nth-child(1) {
  margin-right: 16px;
}
#footer .info-wrap .line span:nth-child(1):before {
  content: "";
  position: absolute;
  top: 0px;
  right: -8px;
  width: 2px;
  height: 14px;
  background: #ddd;
}
#footer .info-wrap .line strong {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  font-family: "Pretendard" !important;
  color: #666666;
  margin-right: 10px;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/* 공통 CSS */
input[type="checkbox"] {
  accent-color: #3e778a;
  width: 25px;
  height: 25px;
  border-radius: 10px;
  margin: 0;
}

/*
공통 버튼
예시) <div class="btn btn1">
- btn 클래스는 필수
- padding값 별도
*/

/* 가장 진한 파랑색 버튼 */
.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  border-radius: 5px;
  text-align: center;
}
.btn1 {
  background: #3e778a;
}
.btn1:hover {
  background: #245e72;
}

.btn2 {
  background: #dee6e9;
  color: #3e778a !important;
}
.btn2:hover {
  background: #d3e1e5;
}

.btn3 {
  background: transparent;
  border: 1px solid #3e778a;
  color: #3e778a !important;
}
.btn3:hover {
  background: #e9f1f4;
}

.btn4 {
  background: transparent;
  border: 1px solid #bbbbbb;
  color: #777777 !important;
}
.btn4:hover {
  background: #f5f5f5;
}

.btn5 {
  border-radius: 24px;
  background: #70bab5;
  color: #fff !important;
}

.btn6 {
  border-radius: 24px;
  background: #fff;
  border: 1px solid #dddddd;
  color: #999999 !important;
}
.btn6:hover {
  background: #f5f5f5;
}

.btn7 {
  background: #e2eef0;
  border: 1px solid #3e778a;
  color: #3e778a;
}
.big-btn-type-a{
  background: #3E778A;
  border-radius: 5px;
  text-align: center;
  padding: 19px 0;
  letter-spacing: -0.02em;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  display: block;
  margin: 0 auto;
  width: 200px;
  cursor: pointer;
}
.big-btn-type-b{
  border: 1px solid #BBBBBB;
  border-radius: 5px;
  text-align: center;
  padding: 19px 0;
  letter-spacing: -0.02em;
  font-size: 16px;
  font-weight: 700;
  display: block;
  margin: 0 auto;
  width: 200px;
  cursor: pointer;
}
.big-btn-type-a-red{
  background: #FF6565;
  border-radius: 5px;
  text-align: center;
  padding: 19px 0;
  letter-spacing: -0.02em;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  display: block;
  margin: 0 auto;
  width: 200px;
  cursor: pointer;
}
.small-btn-type-b{
  color: #3E778A !important;
  letter-spacing: -0.02em;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  padding: 10px 15px;
  box-sizing: border-box;
  border: 1px solid #3E778A;
  border-radius: 5px;
  cursor: pointer;
}
/*
공통 태그 버튼
예시) <div class="tag tag-click">
- tag 클래스는 필수
- 태그 선택 시 클래스 tag-click 추가
- 별도 설정 없음
*/

.tag {
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #999999;
  padding: 5px 20px 8px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag:hover {
  background: #f5f5f5;
}

.tag-click {
  background: #70bab5 !important;
  color: #ffffff !important;
  font-weight: 700 !important;
}

/*
수정/삭제 버튼
예시) <div class="delete-btn">
- 별도 설정 없음
*/
.delete-btn,
.modify-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #555555;
  padding: 7px 15px 10px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.delete-btn:hover {
  background: rgba(255, 101, 101, 0.15);
  border: 1px solid #ff6565;
}

.modify-btn:hover {
  background: #e2eef0;
  border: 1px solid #3e778a;
}

/* 디데이 버튼 */
.day-btn {
  background: #ff6565;
  border-radius: 4px;
  padding: 3px 8px 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
}

/* 판매중 버튼 */
.sale-btn {
  background: #ffffff;
  border: 1px solid #ff6565;
  border-radius: 4px;
  padding: 2px 8px 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #ff6565;
}
/* 판매 종료 버튼 */
.sale-end-btn {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: right;

  color: #999999;
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding: 2px 8px 4px;
}

/* 테이블
 */

.t_table {
  margin-top: 20px;
}
.t_title {
  background: #e2eef0;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  color: #333333;
  padding: 17px 0;
}
.t_tr:hover {
  background: #f1f7f7;
}
.t_tr {
  background: #ffffff;
  border-bottom: 1px solid #ececec;
}
.t_td {
  padding: 16px 10px;
  box-sizing: border-box;
  font-size: 16px;
  color: #555555;
  text-align: center;
}
.t_td span {
  margin-left: 10px;
  color: #70bab5;
}
.t_td.center {
  text-align: center;
}
.t_td.left {
  text-align: left;
}

.t_table02 {
  margin-top: 20px;
}
.t_title02 {
  width: 890px;
  background: #fff;
  font-weight: 500;
  font-size: 16px;
  color: #333333;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.t_title03{  width: 890px;
  background: #fff;
  font-weight: 500;
  font-size: 16px;
  color: #333333;
}
.t_td02 {
  font-size: 16px;
  color: #555555;
}

.comment {
  width: 890px;
  background: #f5f5f5;
  border-radius: 5px;
}
.td_com01 {
  vertical-align: middle;
  width: 120px;
  padding: 15px 10px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  color: #555;
}
.td_com02 {
  width: 600px;
  padding: 15px 10px;
  color: #555;
}
.td_com03 {
  width: 120px;
  vertical-align: middle;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  color: #999;
}
.td_com04 {
  display: flex;
  width: 30px;
  vertical-align: middle;
}
.td_com05 {
  display: flex;
  vertical-align: middle;
  width: 630px;
  color: #555;
}
.td_com05 p {
  padding: 15px 10px;
}

.comment02 {
  width: 1200px;
  background: #f5f5f5;
  border-radius: 5px;
}
.bltd_com01 {
  width: 100px;
  padding: 15px 10px;
  text-align: center;
  vertical-align: middle;
  font-weight: 700;
  font-size: 16px;
  color: #555;
}
.bltd_com02 {
  display: flex;
  vertical-align: middle;
  width: 940px;
  padding: 15px 10px;
  color: #555;
}
.bltd_com03 {
  width: 120px;
  vertical-align: middle;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  color: #999;
}
.bltd_com04 {
  display: flex;
  vertical-align: middle;
  width: 960px;
  color: #555;
}
.bltd_com04 p {
  padding: 15px 10px;
}
.fw_com01 {
  vertical-align: middle;
  width: 100px;
  padding: 18px 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  color: #333;
}
.fw_com02 {
  display: flex;
  vertical-align: middle;
  padding: 8px 10px;
  font-weight: 500;
  font-size: 16px;
  color: #333;
  background-color: #fff;
}
.fr_com01 {
  vertical-align: middle;
  width: 100px;
  padding: 15px 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  color: #333;
}
.fw_01{
  padding: 10px 15px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-right: 10px;
}
.fa_com01 {
  vertical-align: middle;
  width: 120px;
  padding: 19px 25px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  color: #333;
  background-color: #F5F5F5;
}
.fa_com02 {
  display: flex;
  vertical-align: middle;
  padding: 8px 10px;
  font-weight: 500;
  font-size: 16px;
  color: #333;
  background-color: #fff;
}




/* 페이지네이션
 */
.pagination {
  display: flex;
  justify-content: center;
  width: 890px;
  height: 24px;
  padding-top: 20px;
}

.pagination a {
  text-align: center;
  width: 24px;
  margin-right: 10px;
}

.pagination a:last-child {
  margin-right: 0px;
}

.pagination02 {
  display: flex;
  justify-content: center;
  width: 1200px;
  height: 24px;
  padding-top: 20px;
}

.pagination02 a {
  text-align: center;
  width: 24px;
  margin-right: 10px;
}

.pagination02 a:last-child {
  margin-right: 0px;
}

/*자유홍보*/
.cont01 {
  display: flex;
  padding: 20px 0px;
  width: 890px;
  background: #ffffff;
  border-top: 1px solid #dddddd;
}

.cont01 .img_area {
  display: flex;
}

.ptxt_area {
  margin-left: 20px;
}

.ptxt_area ul {
  display: flex;
  margin-bottom: 10px;
  font-size: 12px;
  color: #777;
}

.ptxt_area ul li {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #e5e5e5;
}

.ptxt_area ul li:last-child {
  margin-right: 0px;
  border-right: 0px;
}

.freecont_area {
  display: flex;
  margin-top: 10px;
  line-height: 20px;
  font-size: 14px;
  color: #555;
}

/*블랙리스트*/
.bl_line01 {
  display: flex;
  width: 1200px;
  margin-bottom: 20px;
}

.bl_list01 {
  text-align: center;
  width: 373px;
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 20px 30px;
}

.bl_list01:hover {
  background: #e2eef0;
  border: 1px solid #3e778a;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.bl_list01 h3 {
  padding: 10px 0;
  width: 313px;
  border-bottom: 1px solid #dddddd;
  font-size: 16px;
  font-weight: 700;
  color: #666;
}

.list01_info {
  margin-top: 10px;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 400;
  color: #666;
}

.list01_p {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.list01_p span {
  display: flex;
  margin-right: 8px;
  font-weight: 700;
}



/*FAQ 드롭다운 메뉴*/
.accordion-container{
  display: flex;
  width: 100%;
  margin-top: 20px;
}
.faq-acco{
  cursor: pointer;
}
.faq-acco .accordion-label{
  display: flex;
  margin-bottom: 16px;
  width: 100%;
  background-color: #F1F7F7;
}
.accordion-label p{
  width: 780px;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  padding: 17px 25px;
}
.accordion-label .up{
  display: inline-block;
  margin: 13px 15px;
  width: 30px;
  height: 30px;
  background: url("../image/cscenter/up.png") no-repeat;
}
.accordion-label .down{
  display: inline-block;
  margin: 13px 15px;
  width: 30px;
  height: 30px;
  background: url("../image/cscenter/down.png") no-repeat;
}
.accordion-cont{
  display: flex;
  width: 100%;
}
.accordion-cont .text-wrap{
  padding: 25px 20px;
}
.accordion-cont .text-wrap strong{
  display: inline;
  color: #3E778A;
  font-size: 16px;
  font-weight: 900;
  margin-right: 30px;
}
.accordion-cont .text-wrap h3{
  display: inline;
  margin-bottom: 20px;
  color: #555;
  font-size: 16px;
  font-weight: 700;
}
.accordion-cont .text-wrap p{
  display: flex;
  margin: 20px 0 0 47px;
  color: #555;
  font-size: 16px;
  font-weight: 300;
}

