/*커뮤니티 노하우 시작*/
#Know_section01 {
  position: relative;
  margin: 0 auto;
  width: 1200px;
}

.know_header {
  width: 600px;
  height: 45px;
}

.know_header .title_bg {
  font-size: 32px;
  font-weight: 700;
}

.know_box {
  margin-top: 40px;
  width: 1200px;
  display: flex;
}

.know_box .box_l {
  margin-right: 40px;
  width: 270px;
}

.know_box .box_l .menu {
  width: 268px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  background-color: #fff;
}

.know_box .box_l .menu .menu01 {
  box-sizing: border-box;
  padding: 18px 20px;
  background: #70bab5;
  border-bottom: 1px solid #ececec;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}

.know_box .box_l .menu .menu02 {
  box-sizing: border-box;
  padding: 18px 20px;
  background: #fff;
  color: #333;
}

.know_box .box_l .menu .menu02 .i_icon {
  float: right;
  position: relative;
  top: 2px;
  width: 16px;
  height: 16px;
  background: url("../image/community/right_arrow.png") no-repeat;
}

.know_box .know_r {
  width: 890px;
}

.know_r .know_r_header {
  display: flex;
  width: 890px;
}

.know_r .know_r_header h3 {
  display: flex;
  font-size: 20px;
  font-weight: 700;
}

.know_r .know_r_header p {
  display: flex;
  margin: 2px 20px;
  font-size: 16px;
  color: #555;
}

.know_r .tap_list {
  display: flex;
  width: 890px;
  margin-top: 20px;
}

.know_r .tap_list .btn01 {
  display: inline-block;
  margin-right: 10px;
  padding: 8px 20px;
}

.know_r .tap_list .btn6 {
  display: inline-block;
  margin-right: 10px;
  padding: 8px 20px;
}

.know_r .know_table01 .know01_th_01{
  text-align: center;
  vertical-align: middle;
  padding: 17px 0;
}

.know_table01 .know01_th_02{
  text-align: center;
  vertical-align: middle;
  padding: 17px 0;
}

.know_table01 .know01_th_03{
  text-align: center;
  vertical-align: middle;
  padding: 17px 0;
}

.know_table01 .know01_th_04{
  text-align: center;
  vertical-align: middle;
  padding: 17px 0;
}

.know_table01 .know01_th_05{
  text-align: center;
  vertical-align: middle;
  padding: 17px 0;
}

.know_table01 .know01_th_06{
  text-align: center;
  vertical-align: middle;
  padding: 17px 0;
}

.know_table01 .know01 .td_01{
  text-align: center;
  width: 78px;
  padding: 18px 0;
}

.know_table01 .td_02{
  width: 392px;
  padding: 18px 0;
}

.know_table01 .td_03{
  text-align: center;
  width: 120px;
  padding: 18px 0;
}

.know_table01 .td_04{
  text-align: center;
  width: 100px;
  padding: 18px 0;
}

.know_table01 .td_05{
  text-align: center;
  width: 120px;
  padding: 18px 0;
}

.know_table01 .td_06{
  text-align: center;
  width: 80px;
  padding: 18px 0;
}

.know01_row{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.know01_row .text-input{
  padding: 10px 0 10px 10px;
  width: 300px;
  border: 1px solid #CDDCE1;
  border-radius: 4px;
}

.know01_row .text-input input{
  width: calc(100% - 38px);
  border: none;
  outline: none;
  font-size: 16px;
}

.know01_row .text-input input::placeholder{
  color: #BBBBBB;
}

.know01_row .text-input img{
  float: right;
  margin-right: 10px;
}

.know01_row .btn01 {
  float: right;
  box-sizing: border-box;
  padding: 13px 20px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}

/*
   height 빼고 padding으로
   float 빼기
   테이블 td, th 공통으로 빼고
   가로값은 th에 바로 먹이기

*/
