/*Faq 시작*/
#faq_section {
    position: relative;
    margin: 0 auto;
    width: 1200px;
}

#faq_section .faqtitle_header {
    width: 600px;
    height: 45px;
}

#faq_section .faqtitle_header .title_bg {
    font-size: 32px;
    font-weight: 700;
}

#faq_section .faq_box {
    margin-top: 40px;
    width: 1200px;
    display: flex;
}

#faq_section .faq_box .faq_l {
    margin-right: 40px;
    width: 270px;
}

#faq_section .faq_box .faq_l .menu {
    width: 268px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    background-color: #fff;
}

#faq_section .faq_box .faq_l .menu .menu01 {
    box-sizing: border-box;
    padding: 18px 20px;
    background: #fff;
    color: #333;
    border-bottom: 1px solid #ececec;
}

#faq_section .faq_box .faq_l .menu .menu01 .i_icon {
    float: right;
    position: relative;
    top: 2px;
    width: 16px;
    height: 16px;
    background: url("../image/community/right_arrow.png") no-repeat;
}

#faq_section .faq_box .faq_l .menu .menu02 {
    box-sizing: border-box;
    padding: 18px 20px;
    background: #fff;
    color: #333;
    border-bottom: 1px solid #ececec;
}

#faq_section .faq_box .faq_l .menu .menu02 .i_icon {
    float: right;
    position: relative;
    top: 2px;
    width: 16px;
    height: 16px;
    background: url("../image/community/right_arrow.png") no-repeat;
}

#faq_section .faq_box .faq_l .menu .menu03 {
    box-sizing: border-box;
    padding: 18px 20px;
    background: #70bab5;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}

#faq_section .faq_box .faq_r {
    width: 890px;
}

#faq_section .faq_box .faq_r .faq_r_header {
    display: flex;
    width: 890px;
}

#faq_section .faq_box .faq_r .faq_r_header h3 {
    display: flex;
    font-size: 20px;
    font-weight: 700;
}

#faq_section .faq_box .faq_r .accordion-container .faq-acco .label01{
    margin-bottom: 0px;
}