/*register type*/

/*회원가입 구분 시작*/
.section {
    display: flex;
    position: relative;
    margin: 0 auto;
    padding-top: 150px;
    width: 1200px;
    height: 394px;
}

.join_header {
    float: left;
    width: 600px;
    height: 45px;
}

.join_header .join_bg {
    float: left;
    font-size: 32px;
    font-weight: 700;
}

.join_header .join_step {
    display: flex;
    align-items: center;
    padding-top: 13px;
}

.join_header .join_step > li {
    float: left;
    margin-left: 25px;
    font-weight: 300;
    font: 14px;
    vertical-align: middle;
    color: #777;
}

.join_header .join_step > li:nth-last-child() {
    margin-right: 0px;
}

.join_header .join_step .join_step_01_on {
    font-weight: 700;
    color: #3E778A;
}

.join_member {
    position: absolute;
    text-align: center;
    width: 1200px;
    height: 311px;
    top: 235px;
}

.join_member li {
    display: inline-block;
    margin: 0 40px 60px 0;
    width: 210px;
    height: 249px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    background: fff;
    text-align: center;
}

.join_member .join03 {
    margin-right: 0px;
}

.join_member .join01 a .i_icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 40px 0 20px 0;
    background: url("../image/register/User_Male.png") no-repeat;
}

.join_member .join02 a .i_icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 40px 0 20px 0;
    background: url("../image/register/User_Male02.png") no-repeat;
}

.join_member .join03 a .i_icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 40px 0 20px 0;
    background: url("../image/register/Business_Building.png") no-repeat;
}

.join_member li a p {
    color: #333;
    font-size: 20px;
    margin-bottom: 20px;
}

.join_member li .btn {
    text-align: center;
    padding: 6px 20px;
    box-sizing: border-box;
    width: 96px;
    height: 35px;
    background: #3E778A;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.join_member li:hover{
    background: #E2EEF0;
    border: 1px solid #70BAB5;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
}
/*회원가입 구분 끝*/




/*약관동의 시작*/
.section {
    display: flex;
    position: relative;
    margin: 0 auto;
    padding-top: 150px;
    width: 1200px;
    height: 550px;
}

.join_header {
    float: left;
    width: 600px;
    height: 45px;
}

.join_header .join_bg {
    float: left;
    font-size: 32px;
    font-weight: 700;
}

.join_header .join_step {
    display: flex;
    align-items: center;
    padding-top: 13px;
}

.join_header .join_step > li {
    float: left;
    margin-left: 25px;
    font-weight: 300;
    font: 14px;
    vertical-align: middle;
    color: #777;
}

.join_header .join_step > li:nth-last-child() {
    margin-right: 0px;
}

.join_header .join_step .join_step_02_on {
    font-weight: 700;
    color: #3E778A;
}

.agree {
    position: absolute;
    width: 1200px;
    height: 474px;
    top: 235px;
}

.agree_box01 {
    margin: 0 auto;
    width: 600px;
    height: 45px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
}

.agree_box01 .title ul {
    display: flex;
    margin: 10px 10px;
}

.agree_box01 .title .check {
    width: 25px;
    height: 25px;
    background-color: #3E778A;
    border-radius: 5px;
}

.agree_box01 .title .h3 {
    display: inline-block;
    float: left;
    width: 525px;
    margin-left: 8px;
    font-size: 16px;
    color: #555555;
}

.agree_box01 .title .dropdown {
    float: left;
    margin-left: 8px;
    vertical-align: middle;
}


/* 드롭다운
.agree_box01 .cont_body {
    position: relative;
    padding: 10px 10px 20px 10px;
    width: 580px;
    height: 142px;
    background-color: aquamarine;
}

.agree_box01 .cont_body .board{
    width: 580px;
    height: 132px;
    background-color: brown;
}


.agree_box01 .cont_body .board .agree{
    width: 580px;
    height: 102px;
    font-size: 14px;
    color: #777;
    background-color: #3E778A;
}
                        드롭다운*/

.agree_box02 {
    margin: 20px auto 0;
    width: 600px;
    height: 45px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
}

.agree_box02 .title ul {
    display: flex;
    margin: 10px 10px;
}

.agree_box02 .title .check {
    width: 25px;
    height: 25px;
    background-color: #3E778A;
    border-radius: 5px;
}

.agree_box02 .title .h3 {
    display: inline-block;
    float: left;
    width: 525px;
    margin-left: 8px;
    font-size: 16px;
    color: #555555;
}

.agree_box02 .title .dropdown {
    float: left;
    margin-left: 8px;
    vertical-align: middle;
}

.agree_box03 {
    margin: 20px auto 0;
    width: 600px;
    height: 45px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
}

.agree_box03 .title ul {
    display: flex;
    margin: 10px 10px;
}

.agree_box03 .title .check {
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #BBBBBB;
}

.agree_box03 .title .h3 {
    display: inline-block;
    float: left;
    width: 525px;
    margin-left: 8px;
    font-size: 16px;
    color: #555555;
}

.agree_box03 .title .dropdown {
    float: left;
    margin-left: 8px;
    vertical-align: middle;
}

.agree_box04 {
    margin: 20px auto 0;
    border-bottom: 1px solid #ECECEC;;
    width: 600px;
    height: 45px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
}

.agree_box04 .title ul {
    display: flex;
    margin: 10px 10px;
}

.agree_box04 .title .check {
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #BBBBBB;
}

.agree_box04 .title .h3 {
    display: inline-block;
    float: left;
    width: 525px;
    margin-left: 8px;
    font-size: 16px;
    color: #555555;
}                    

.agree_next {
    margin: 40px 0 auto;
    width: 1200px;
    height: 88px;
    border-top: 1px solid #ECECEC;
    padding-top: 30px;
}

.agree_next a {
    display: flex;
    margin: 0 auto;
    width: 200px;
    height: 58px;
    align-items: center;
    justify-content: center;
    background: #3E778A;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}
/*약관동의 끝*/




/*내국인정보입력 시작*/
.section {
    display: flex;
    position: relative;
    margin: 0 auto;
    padding-top: 150px;
    width: 1200px;
    height: 980px;
}

.join_header {
    float: left;
    width: 600px;
    height: 45px;
}

.join_header .join_bg {
    float: left;
    font-size: 32px;
    font-weight: 700;
}

.join_header .join_step {
    display: flex;
    align-items: center;
    padding-top: 13px;
}

.join_header .join_step > li {
    float: left;
    margin-left: 25px;
    font-weight: 300;
    font: 14px;
    vertical-align: middle;
    color: #777;
}

.join_header .join_step > li:nth-last-child() {
    margin-right: 0px;
}

.join_header .join_step .join_step_03_on {
    font-weight: 700;
    color: #3E778A;
}

.input_box{
    position: absolute;
    margin-top: 85px;
    width: 1200px;
    height: 557px;
}

.input_box .input_l{
    float: left;
    width: 565px;
    height: 557px;
}

.input_box .input_l .field01 {
    display: flex;
    width: 565px;
    height: 101px;
}

.input_box .input_l .field01 p {
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    color: #555;
}

.input_box .input_l .field01 input{
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0px 15px;
    width: 205px;
    height: 48px;
    font-size: 16px;
    color: #999;
}

.input_box .input_l .field01 select {
    top: 24px;
    padding: 0px 15px;
    box-sizing: border-box;
    width: 232px;
    height: 48px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
}

.input_box .input_l .field01 a {
    box-sizing: border-box;
    margin-left: 8px;
    padding: 0px 15px;
    width: 88px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #3E778A;
    border-radius: 5px;
    color: #3E778A;
    font-weight: 700;
    font-size: 16px;
    line-height: 45px;
}

.input_box .input_l .field01 .notice {
    float: left;
    top: 84px;
    font-weight: 400;
    font-size: 14px;
    color: #3E778A;
}

.input_box .input_l .field02 {
    display: flex;
    margin-top: 30px;
    width: 565px;
    height: 96px;
}

.input_box .input_l .field02 p {
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    color: #555;
}

.input_box .input_l .field02 input{
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0px 15px;
    width: 472px;
    height: 48px;
    font-size: 16px;
    color: #999;
}

.input_box .input_l .field02 a {
    box-sizing: border-box;
    margin-left: 8px;
    padding: 0px 15px;
    width: 88px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #3E778A;
    border-radius: 5px;
    color: #3E778A;
    font-weight: 700;
    font-size: 16px;
    line-height: 45px;
}

.input_box .input_l .field02 .notice {
    float: left;
    margin-top: 79px;
    font-weight: 400;
    font-size: 14px;
    color: #3E778A;
}

.input_box .input_l .field03 {
    display: flex;
    margin-top: 30px;
    width: 565px;
    height: 69px;
}

.input_box .input_l .field03 p {
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    color: #555;
}

.input_box .input_l .field03 input{
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0px 15px;
    width: 565px;
    height: 48px;
    font-size: 16px;
    color: #999;
}

.input_box .input_l .field04 {
    display: flex;
    margin-top: 30px;
    width: 565px;
    height: 99px;
}

.input_box .input_l .field04 p {
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    color: #555;
}

.input_box .input_l .field04 input{
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0px 15px;
    width: 565px;
    height: 48px;
    font-size: 16px;
    color: #999;
}

.input_box .input_l .field04 .notice {
    float: left;
    margin-top: 79px;
    font-weight: 400;
    font-size: 14px;
    color: #ff6565;
}

.input_box .input_l .field05 {
    display: flex;
    margin-top: 30px;
    width: 565px;
    height: 72px;
}

.input_box .input_l .field05 p {
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    color: #555;
}

.input_box .input_l .field05 input{
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0px 15px;
    width: 565px;
    height: 48px;
    font-size: 16px;
    color: #999;
}





.input_box .input_r{
    float: left;
    margin-left: 70px;
    width: 565px;
    height: 557px;
    background-color: burlywood;
}

