/*register type*/

/*회원가입 구분 시작*/
.type_section {
    display: flex;
    position: relative;
    margin: 0 auto;
    padding-top: 150px;
    width: 1200px;
    height: 394px;
}

.join_header {
    float: left;
    width: 600px;
    height: 45px;
}

.join_header .join_bg {
    float: left;
    font-size: 32px;
    font-weight: 700;
}

.join_header .join_step {
    display: flex;
    align-items: center;
    padding-top: 13px;
}

.join_header .join_step > li {
    float: left;
    margin-left: 25px;
    font-weight: 300;
    font: 14px;
    vertical-align: middle;
    color: #777;
}

.join_header .join_step > li:nth-last-child() {
    margin-right: 0px;
}

.join_header .join_step .join_step_01_on {
    font-weight: 700;
    color: #3E778A;
}

.join_member {
    position: absolute;
    text-align: center;
    width: 1200px;
    height: 311px;
    top: 235px;
}

.join_member li {
    display: inline-block;
    margin: 0 40px 60px 0;
    width: 210px;
    height: 249px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    background: fff;
    text-align: center;
}

.join_member .join03 {
    margin-right: 0px;
}

.join_member .join01 a .i_icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 40px 0 20px 0;
    background: url("../image/register/User_Male.png") no-repeat;
}

.join_member .join02 a .i_icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 40px 0 20px 0;
    background: url("../image/register/User_Male02.png") no-repeat;
}

.join_member .join03 a .i_icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 40px 0 20px 0;
    background: url("../image/register/Business_Building.png") no-repeat;
}

.join_member li a p {
    color: #333;
    font-size: 20px;
    margin-bottom: 20px;
}

.join_member li .btn {
    text-align: center;
    padding: 6px 20px;
    box-sizing: border-box;
    width: 96px;
    height: 35px;
    background: #3E778A;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.join_member li:hover{
    background: #E2EEF0;
    border: 1px solid #70BAB5;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
}
/*회원가입 구분 끝*/




/*약관동의 시작*/
.agree_section {
    display: flex;
    position: relative;
    margin: 0 auto;
    padding-top: 150px;
    width: 1200px;
    height: 619px;
}

.join_header {
    float: left;
    width: 600px;
    height: 45px;
}

.join_header .join_bg {
    float: left;
    font-size: 32px;
    font-weight: 700;
}

.join_header .join_step {
    display: flex;
    align-items: center;
    padding-top: 13px;
}

.join_header .join_step > li {
    float: left;
    margin-left: 25px;
    font-weight: 300;
    font: 14px;
    vertical-align: middle;
    color: #777;
}

.join_header .join_step > li:nth-last-child() {
    margin-right: 0px;
}

.join_header .join_step .join_step_02_on {
    font-weight: 700;
    color: #3E778A;
}

.agree {
    position: absolute;
    width: 1200px;
    height: 474px;
    top: 235px;
}

.agree_box01 {
    margin: 0 auto;
    width: 600px;
    height: 45px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
}

.agree_box01 .title ul {
    display: flex;
    margin: 10px 10px;
}

.agree_box01 .title .check {
    width: 25px;
    height: 25px;
    background-color: #3E778A;
    border-radius: 5px;
}

.agree_box01 .title .h3 {
    display: inline-block;
    float: left;
    padding: 3px 0;
    width: 525px;
    margin-left: 8px;
    font-size: 16px;
    color: #555555;
}

.agree_box01 .title .dropdown a {
    float: left;
    margin-left: 8px;
    padding: 5px 0;
}


/* 드롭다운
.agree_box01 .cont_body {
    position: relative;
    padding: 10px 10px 20px 10px;
    width: 580px;
    height: 142px;
    background-color: aquamarine;
}

.agree_box01 .cont_body .board{
    width: 580px;
    height: 132px;
    background-color: brown;
}


.agree_box01 .cont_body .board .agree{
    width: 580px;
    height: 102px;
    font-size: 14px;
    color: #777;
    background-color: #3E778A;
}
                        드롭다운*/

.agree_box02 {
    margin: 20px auto 0;
    width: 600px;
    height: 45px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
}

.agree_box02 .title ul {
    display: flex;
    margin: 10px 10px;
}

.agree_box02 .title .check {
    width: 25px;
    height: 25px;
    background-color: #3E778A;
    border-radius: 5px;
}

.agree_box02 .title .h3 {
    display: inline-block;
    float: left;
    padding: 3px 0;
    width: 525px;
    margin-left: 8px;
    font-size: 16px;
    color: #555555;
}

.agree_box02 .title .dropdown a {
    float: left;
    margin-left: 8px;
    padding: 5px 0;
}

.agree_box03 {
    margin: 20px auto 0;
    width: 600px;
    height: 45px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
}

.agree_box03 .title ul {
    display: flex;
    margin: 10px 10px;
}

.agree_box03 .title .check {
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #BBBBBB;
}

.agree_box03 .title .h3 {
    display: inline-block;
    padding: 3px 0;
    float: left;
    width: 525px;
    margin-left: 8px;
    font-size: 16px;
    color: #555555;
}

.agree_box03 .title .dropdown a{
    float: left;
    margin-left: 8px;
    padding: 5px 0;
}

.agree_box04 {
    margin: 20px auto 0;
    border-bottom: 1px solid #ECECEC;;
    width: 600px;
    height: 45px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
}

.agree_box04 .title ul {
    display: flex;
    margin: 10px 10px;
}

.agree_box04 .title .check {
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #BBBBBB;
}

.agree_box04 .title .h3 {
    display: inline-block;
    padding: 3px 0;
    float: left;
    width: 525px;
    margin-left: 8px;
    font-size: 16px;
    color: #555555;
}                    

.agree_next {
    margin: 40px 0 auto;
    width: 1200px;
    height: 58px;
    border-top: 1px solid #ECECEC;
    padding-top: 30px;
}

.agree_next a {
    display: flex;
    margin: 0 auto;
    width: 200px;
    height: 58px;
    align-items: center;
    justify-content: center;
    background: #3E778A;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}
/*약관동의 끝*/




/*내국인정보입력 시작*/
.local_section {
    display: flex;
    position: relative;
    margin: 0 auto;
    padding-top: 150px;
    width: 1200px;
    height: 830px;
}

.join_header {
    float: left;
    width: 600px;
    height: 45px;
}

.join_header .join_bg {
    float: left;
    font-size: 32px;
    font-weight: 700;
}

.join_header .join_step {
    display: flex;
    align-items: center;
    padding-top: 13px;
}

.join_header .join_step > li {
    float: left;
    margin-left: 25px;
    font-weight: 300;
    font: 14px;
    vertical-align: middle;
    color: #777;
}

.join_header .join_step > li:nth-last-child() {
    margin-right: 0px;
}

.join_header .join_step .join_step_03_on {
    font-weight: 700;
    color: #3E778A;
}

.local_input_box{
    position: absolute;
    margin-top: 85px;
    width: 1200px;
    height: 557px;
}

.local_input_box .input_l{
    float: left;
    width: 565px;
    height: 557px;
}

.local_input_box .input_l .field01 {
    display: flex;
    width: 565px;
    height: 101px;
}

.local_input_box .input_l .field01 p {
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    color: #555;
}

.local_input_box .input_l .field01_input input {
    display: inline-block;
    margin-top: 24px;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0px 15px;
    width: 205px;
    height: 48px;
    font-size: 16px;
    color: #999;
}

.local_input_box .input_l .field01_input span {
     vertical-align: middle;
     margin: 0 8px;
}

.local_input_box .input_l .field01_input select {
    top: 24px;
    padding: 0px 15px;
    box-sizing: border-box;
    width: 232px;
    height: 48px;
    border: 1px solid #DDDDDD;
    background-color: #fff;
    border-radius: 5px;
}

.local_input_box .input_l .field01 a {
    box-sizing: border-box;
    margin: 24px 0 0 8px;
    padding: 0px 15px;
    width: 88px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #3E778A;
    border-radius: 5px;
    color: #3E778A;
    font-weight: 700;
    font-size: 16px;
    line-height: 45px;
}

.local_input_box .input_l .field01 .notice {
    position: absolute;
    top: 84px;
    font-weight: 400;
    font-size: 14px;
    color: #3E778A;
}

.local_input_box .input_l .field02 {
    display: flex;
    margin-top: 30px;
    width: 565px;
    height: 96px;
}

.local_input_box .input_l .field02 p {
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    color: #555;
}

.local_input_box .input_l .field02_input input {
    display: inline-block;
    margin-top: 24px;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0px 15px;
    width: 472px;
    height: 48px;
    font-size: 16px;
    color: #999;
}

.local_input_box .input_l .field02 a {
    box-sizing: border-box;
    margin: 26px 0 0 8px;
    padding: 0px 15px;
    width: 88px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #3E778A;
    border-radius: 5px;
    color: #3E778A;
    font-weight: 700;
    font-size: 16px;
    line-height: 45px;
}

.local_input_box .input_l .field02 .notice {
    position: absolute;
    top: 210px;
    font-weight: 400;
    font-size: 14px;
    color: #3E778A;
}

.local_input_box .input_l .field03 {
    display: flex;
    margin-top: 30px;
    width: 565px;
    height: 69px;
}

.local_input_box .input_l .field03 p {
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    color: #555;
}

.local_input_box .input_l .field03 .field03_input input{
    display: inline-block;
    margin-top: 24px;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0px 15px;
    width: 565px;
    height: 48px;
    font-size: 16px;
    color: #999;
}

.local_input_box .input_l .field04 {
    display: flex;
    margin-top: 30px;
    width: 565px;
    height: 99px;
}

.local_input_box .input_l .field04 p {
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    color: #555;
}

.local_input_box .input_l .field04 .field04_input input{
    display: inline-block;
    margin-top: 24px;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0px 15px;
    width: 565px;
    height: 48px;
    font-size: 16px;
    color: #999;
}

.local_input_box .input_l .field04 .notice {
    position: absolute;
    top: 438px;
    font-weight: 400;
    font-size: 14px;
    color: #ff6565;
}

.local_input_box .input_l .field05 {
    display: flex;
    margin-top: 30px;
    width: 565px;
    height: 72px;
}

.local_input_box .input_l .field05 p {
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    color: #555;
}

.local_input_box .input_l .field05 .field05_input input{
    display: inline-block;
    margin-top: 24px;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0px 15px;
    width: 565px;
    height: 48px;
    font-size: 16px;
    color: #999;
}

.local_input_box .input_r{
    float: left;
    margin-left: 70px;
    width: 565px;
    height: 557px;
}

.local_input_box .input_r .field06 {
    display: flex;
    width: 565px;
    height: 72px;
}

.local_input_box .input_r .field06 p {
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    color: #555;
}

.local_input_box .input_r .field06 .field06_input input{
    display: inline-block;
    margin-top: 24px;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0px 15px;
    width: 565px;
    height: 48px;
    font-size: 16px;
    color: #999;
}

.local_input_box .input_r .field07 {
    display: flex;
    margin-top: 30px;
    width: 436px;
    height: 96px;

}

.local_input_box .input_r .field07 p {
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    color: #555;
}

.local_input_box .input_r .field07_input input {
    display: inline-block;
    margin-top: 24px;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0px 15px;
    width: 436px;
    height: 48px;
    font-size: 16px;
    color: #999;
}

.local_input_box .input_r .field07 a {
    box-sizing: border-box;
    margin: 24px 0 0 8px;
    padding: 0px 15px;
    width: 121px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #3E778A;
    border-radius: 5px;
    color: #3E778A;
    font-weight: 700;
    font-size: 16px;
    line-height: 45px;
}

.local_input_box .input_r .field07 .notice {
    position: absolute;
    top: 181px;
    font-weight: 400;
    font-size: 14px;
    color: #777;
}

.local_input_box .input_r .field08 {
    display: flex;
    margin-top: 18px;
    width: 565px;
    height: 48px;
}

.local_input_box .input_r .field08_input input {
    display: inline-block;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0px 15px;
    width: 140px;
    height: 48px;
    font-size: 16px;
    color: #999;
}

.local_input_box .input_r .field08 a {
    box-sizing: border-box;
    margin-left: 8px;
    padding: 0px 15px;
    width: 118px;
    height: 48px;
    background: #DEE6E9;
    border-radius: 5px;
    color: #3E778A;
    font-weight: 700;
    font-size: 16px;
    line-height: 45px;
}

.local_input_box .input_r .field09 {
    display: flex;
    margin-top: 30px;
    width: 565px;
    height: 80px;

}

.local_input_box .input_r .field09 p {
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    color: #555;
}

.local_input_box .input_r .field09_input input {
    display: inline-block;
    margin-top: 24px;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0px 15px;
    width: 465px;
    height: 48px;
    font-size: 16px;
    color: #999;
}

.local_input_box .input_r .field09 a {
    box-sizing: border-box;
    margin: 24px 0 0 8px;
    padding: 0px 15px;
    width: 100px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #3E778A;
    border-radius: 5px;
    color: #3E778A;
    font-weight: 700;
    font-size: 16px;
    line-height: 45px;
}

.local_input_box .input_r .field10 {
    display: flex;
    width: 565px;
    height: 48px;
}

.local_input_box .input_r .field10_input input {
    display: inline-block;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0px 15px;
    width: 565px;
    height: 48px;
    font-size: 16px;
    color: #999;
}

.local_agree_next {
    position: absolute;
    top: 832px;
    width: 1200px;
    height: 58px;
    border-top: 1px solid #ECECEC;
    padding-top: 30px;
}

.local_agree_next .btn_prev a {
    float: left;
    box-sizing: border-box;
    width: 200px;
    height: 58px;
    padding: 19px 86px;
    margin-left: 380px;
    background: #fff;
    border: 1px solid #BBBBBB;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    color: #777;
}

.local_agree_next .btn_next a {
    float: right;
    box-sizing: border-box;
    margin-right: 380px;
    padding: 16px 86px;
    width: 200px;
    height: 58px;
    align-items: center;
    justify-content: center;
    background: #3E778A;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}




/*외국인정보입력 시작*/
.foreigner_section {
    display: flex;
    position: relative;
    margin: 0 auto;
    padding-top: 150px;
    width: 1200px;
    height: 920px;
}

.join_header {
    float: left;
    width: 600px;
    height: 45px;
}

.join_header .join_bg {
    float: left;
    font-size: 32px;
    font-weight: 700;
}

.join_header .join_step {
    display: flex;
    align-items: center;
    padding-top: 13px;
}

.join_header .join_step > li {
    float: left;
    margin-left: 25px;
    font-weight: 300;
    font: 14px;
    vertical-align: middle;
    color: #777;
}

.join_header .join_step > li:nth-last-child() {
    margin-right: 0px;
}

.join_header .join_step .join_step_03_on {
    font-weight: 700;
    color: #3E778A;
}

.foreigner_input_box{
    position: absolute;
    margin-top: 85px;
    width: 1200px;
    height: 650px;
}

.foreigner_input_box .input_l{
    float: left;
    width: 565px;
    height: 557px;
}

.foreigner_input_box .input_l .field01 {
    display: flex;
    width: 565px;
    height: 101px;
}

.foreigner_input_box .input_l .field01 p {
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    color: #555;
}

.foreigner_input_box .input_l .field01_input input {
    display: inline-block;
    margin-top: 24px;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0px 15px;
    width: 205px;
    height: 48px;
    font-size: 16px;
    color: #999;
}

.foreigner_input_box .input_l .field01_input span {
     vertical-align: middle;
     margin: 0 8px;
}

.foreigner_input_box .input_l .field01_input select {
    top: 24px;
    padding: 0px 15px;
    box-sizing: border-box;
    width: 232px;
    height: 48px;
    border: 1px solid #DDDDDD;
    background-color: #fff;
    border-radius: 5px;
}

.foreigner_input_box .input_l .field01 a {
    box-sizing: border-box;
    margin: 26px 0 0 8px;
    padding: 0px 15px;
    width: 88px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #3E778A;
    border-radius: 5px;
    color: #3E778A;
    font-weight: 700;
    font-size: 16px;
    line-height: 45px;
}

.foreigner_input_box .input_l .field01 .notice {
    position: absolute;
    top: 84px;
    font-weight: 400;
    font-size: 14px;
    color: #3E778A;
}

.foreigner_input_box .input_l .field02 {
    display: flex;
    margin-top: 30px;
    width: 565px;
    height: 96px;
}

.foreigner_input_box .input_l .field02 p {
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    color: #555;
}

.foreigner_input_box .input_l .field02_input input {
    display: inline-block;
    margin-top: 24px;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0px 15px;
    width: 472px;
    height: 48px;
    font-size: 16px;
    color: #999;
}

.foreigner_input_box .input_l .field02 a {
    box-sizing: border-box;
    margin: 24px 0 0 8px;
    padding: 0px 15px;
    width: 88px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #3E778A;
    border-radius: 5px;
    color: #3E778A;
    font-weight: 700;
    font-size: 16px;
    line-height: 45px;
}

.foreigner_input_box .input_l .field02 .notice {
    position: absolute;
    top: 210px;
    font-weight: 400;
    font-size: 14px;
    color: #3E778A;
}

.foreigner_input_box .input_l .field03 {
    display: flex;
    margin-top: 30px;
    width: 565px;
    height: 69px;
}

.foreigner_input_box .input_l .field03 p {
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    color: #555;
}

.foreigner_input_box .input_l .field03 .field03_input input{
    display: inline-block;
    margin-top: 24px;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0px 15px;
    width: 565px;
    height: 48px;
    font-size: 16px;
    color: #999;
}

.foreigner_input_box .input_l .field04 {
    display: flex;
    margin-top: 30px;
    width: 565px;
    height: 99px;
}

.foreigner_input_box .input_l .field04 p {
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    color: #555;
}

.foreigner_input_box .input_l .field04 .field04_input input{
    display: inline-block;
    margin-top: 24px;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0px 15px;
    width: 565px;
    height: 48px;
    font-size: 16px;
    color: #999;
}

.foreigner_input_box .input_l .field04 .notice {
    position: absolute;
    top: 438px;
    font-weight: 400;
    font-size: 14px;
    color: #ff6565;
}

.foreigner_input_box .input_l .field05 {
    display: flex;
    margin-top: 30px;
    width: 565px;
    height: 72px;
}

.foreigner_input_box .input_l .field05 p {
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    color: #555;
}

.foreigner_input_box .input_l .field05 .field05_input input{
    display: inline-block;
    margin-top: 24px;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0px 15px;
    width: 565px;
    height: 48px;
    font-size: 16px;
    color: #999;
}

.foreigner_input_box .input_r{
    float: left;
    margin-left: 70px;
    width: 565px;
    height: 647px;
}

.foreigner_input_box .input_r .field06 {
    display: flex;
    width: 565px;
    height: 72px;
}

.foreigner_input_box .input_r .field06 p {
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    color: #555;
}

.foreigner_input_box .input_r .field06 .field06_input input{
    display: inline-block;
    margin-top: 24px;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0px 15px;
    width: 565px;
    height: 48px;
    font-size: 16px;
    color: #999;
}

.foreigner_input_box .input_r .field07 {
    display: flex;
    margin-top: 30px;
    width: 436px;
    height: 96px;

}

.foreigner_input_box .input_r .field07 p {
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    color: #555;
}

.foreigner_input_box .input_r .field07_input input {
    display: inline-block;
    margin-top: 24px;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0px 15px;
    width: 436px;
    height: 48px;
    font-size: 16px;
    color: #999;
}

.foreigner_input_box .input_r .field07 a {
    box-sizing: border-box;
    margin: 24px 0 0 8px;
    padding: 0px 15px;
    width: 121px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #3E778A;
    border-radius: 5px;
    color: #3E778A;
    font-weight: 700;
    font-size: 16px;
    line-height: 45px;
}

.foreigner_input_box .input_r .field07 .notice {
    position: absolute;
    top: 181px;
    font-weight: 400;
    font-size: 14px;
    color: #777;
}

.foreigner_input_box .input_r .field08 {
    display: flex;
    margin-top: 18px;
    width: 565px;
    height: 48px;
}

.foreigner_input_box .input_r .field08_input input {
    display: inline-block;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0px 15px;
    width: 140px;
    height: 48px;
    font-size: 16px;
    color: #999;
}

.foreigner_input_box .input_r .field08 a {
    box-sizing: border-box;
    margin-left: 8px;
    padding: 0px 15px;
    width: 118px;
    height: 48px;
    background: #DEE6E9;
    border-radius: 5px;
    color: #3E778A;
    font-weight: 700;
    font-size: 16px;
    line-height: 45px;
}

.foreigner_input_box .input_r .field09 {
    display: flex;
    margin-top: 30px;
    width: 565px;
    height: 80px;

}

.foreigner_input_box .input_r .field09 p {
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    color: #555;
}

.foreigner_input_box .input_r .field09_input input {
    display: inline-block;
    margin-top: 24px;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0px 15px;
    width: 465px;
    height: 48px;
    font-size: 16px;
    color: #999;
}

.foreigner_input_box .input_r .field09 a {
    box-sizing: border-box;
    margin: 24px 0 0 8px;
    padding: 0px 15px;
    width: 100px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #3E778A;
    border-radius: 5px;
    color: #3E778A;
    font-weight: 700;
    font-size: 16px;
    line-height: 45px;
}

.foreigner_input_box .input_r .field10 {
    display: flex;
    width: 565px;
    height: 48px;
}

.foreigner_input_box .input_r .field10_input input {
    display: inline-block;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0px 15px;
    width: 565px;
    height: 48px;
    font-size: 16px;
    color: #999;
}

.foreigner_input_box .input_r .field11 {
    display: flex;
    margin-top: 30px;
    width: 565px;
    height: 96px;
}

.foreigner_input_box .input_r .field11 p {
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    color: #555;
}

.foreigner_input_box .input_r .field11 input {
    display: inline-block;
    margin-top: 24px;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0px 15px;
    width: 472px;
    height: 48px;
    font-size: 16px;
    color: #999;
}

.foreigner_input_box .input_r .field11 a {
    box-sizing: border-box;
    margin: 24px 0 0 8px;
    padding: 0px 15px;
    width: 85px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #3E778A;
    border-radius: 5px;
    color: #3E778A;
    font-weight: 700;
    font-size: 16px;
    line-height: 45px;
}

.foreigner_input_box .input_r .field11 .notice {
    position: absolute;
    top: 531px;
    font-weight: 400;
    font-size: 14px;
    color: #3E778A;
}

.foreigner_input_box .input_r .field12 {
    display: flex;
    margin-top: 30px;
    width: 565px;
    height: 69px;
}

.foreigner_input_box .input_r .field12 p {
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    color: #555;
}

.foreigner_input_box .input_r .field12 input {
    display: inline-block;
    margin-top: 24px;
    background-color: #EFEFEF;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0px 15px;
    width: 455px;
    height: 48px;
    font-size: 16px;
    color: #999;
}

.foreigner_input_box .input_r .field12 a {
    box-sizing: border-box;
    margin: 24px 0 0 8px;
    padding: 0px 13px;
    width: 102px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #3E778A;
    border-radius: 5px;
    color: #3E778A;
    font-weight: 700;
    font-size: 16px;
    line-height: 45px;
}

.foreigner_agree_next {
    position: absolute;
    top: 922px;
    width: 1200px;
    height: 58px;
    border-top: 1px solid #ECECEC;
    padding-top: 30px;
}

.foreigner_agree_next .btn_prev a {
    float: left;
    box-sizing: border-box;
    width: 200px;
    height: 58px;
    padding: 16px 86px;
    margin-left: 380px;
    background: #fff;
    border: 1px solid #BBBBBB;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    color: #777;
}

.foreigner_agree_next .btn_next a {
    float: right;
    box-sizing: border-box;
    margin-right: 380px;
    padding: 19px 86px;
    width: 200px;
    height: 58px;
    align-items: center;
    justify-content: center;
    background: #3E778A;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    color:#fff;
}
/*외국인정보입력 끝*/




/*내국인 회원가입완료 시작*/
.end_section {
    display: flex;
    position: relative;
    margin: 0 auto;
    padding-top: 150px;
    width: 1200px;
    height: 507px;
}

.join_header {
    float: left;
    width: 600px;
    height: 45px;
}

.join_header .join_bg {
    float: left;
    font-size: 32px;
    font-weight: 700;
}

.join_header .join_step {
    display: flex;
    align-items: center;
    padding-top: 13px;
}

.join_header .join_step > li {
    float: left;
    margin-left: 25px;
    font-weight: 300;
    font: 14px;
    vertical-align: middle;
    color: #777;
}

.join_header .join_step > li:nth-last-child() {
    margin-right: 0px;
}

.join_header .join_step .join_step_04_on {
    font-weight: 700;
    color: #3E778A;
}

.end_input_box{
    position: absolute;
    margin-top: 85px;
    width: 1200px;
    height: 234px;
}

.end_input_box .check{
    text-align: center;
    margin-top: 44px;
}


.end_input_box p{
    text-align: center;
    margin-top: 34px;
    font-size: 20px;
}

.end_btn {
    position: absolute;
    top: 509px;
    width: 1200px;
    height: 58px;
    border-top: 1px solid #ECECEC;
    padding-top: 30px;
}

.end_btn .btn_01 a {
    float: left;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 200px;
    height: 58px;
    margin-left: 380px;
    background: #fff;
    border: 1px solid #BBBBBB;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    color: #777;
}

.end_btn .btn_02 a {
    float: right;
    display: flex;
    text-align: center;
    box-sizing: border-box;
    margin-right: 380px;
    width: 200px;
    height: 58px;
    align-items: center;
    justify-content: center;
    background: #3E778A;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    color:#fff;
}
/*내국인 회원가입완료 끝*/



/*외국인 회원가입완료 시작*/
.end02_section {
    display: flex;
    position: relative;
    margin: 0 auto;
    padding-top: 150px;
    width: 1200px;
    height: 575px;
}

.join_header {
    float: left;
    width: 600px;
    height: 45px;
}

.join_header .join_bg {
    float: left;
    font-size: 32px;
    font-weight: 700;
}

.join_header .join_step {
    display: flex;
    align-items: center;
    padding-top: 13px;
}

.join_header .join_step > li {
    float: left;
    margin-left: 25px;
    font-weight: 300;
    font: 14px;
    vertical-align: middle;
    color: #777;
}

.join_header .join_step > li:nth-last-child() {
    margin-right: 0px;
}

.join_header .join_step .join_step_04_on {
    font-weight: 700;
    color: #3E778A;
}

.end02_input_box{
    position: absolute;
    margin-top: 85px;
    width: 1200px;
    height: 302px;
}

.end02_input_box .check{
    text-align: center;
    margin-top: 44px;
}


.end02_input_box p{
    text-align: center;
    margin-top: 34px;
    font-size: 20px;
}

.end02_input_box .txt02{
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
}

.end_next_btn {
    position: absolute;
    text-align: center;
    top: 577px;
    width: 1200px;
    height: 58px;
    border-top: 1px solid #ECECEC;
    padding-top: 30px;
}

.end_next_btn a {
    display: inline;
    box-sizing: border-box;
    width: 200px;
    height: 58px;
    padding: 19px 92px;
    line-height: 58px;
    background: #fff;
    border: 1px solid #BBBBBB;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    color: #777;
}
/*외국인 회원가입완료 끝*/



/*외국인 회원가입대기 시작*/
.stanby_section {
    display: flex;
    position: relative;
    margin: 0 auto;
    padding-top: 150px;
    width: 1200px;
    height: 507px;
}

.join_header {
    float: left;
    width: 600px;
    height: 45px;
}

.join_header .join_bg {
    float: left;
    font-size: 32px;
    font-weight: 700;
}

.join_header .join_step {
    display: flex;
    align-items: center;
    padding-top: 13px;
}

.join_header .join_step > li {
    float: left;
    margin-left: 25px;
    font-weight: 300;
    font: 14px;
    vertical-align: middle;
    color: #777;
}

.join_header .join_step > li:nth-last-child() {
    margin-right: 0px;
}

.join_header .join_step .join_step_04_on {
    font-weight: 700;
    color: #3E778A;
}

.stanby_input_box{
    position: absolute;
    margin-top: 85px;
    width: 1200px;
    height: 234px;
}

.stanby_input_box .check{
    text-align: center;
    margin-top: 44px;
}

.stanby_input_box p{
    text-align: center;
    margin-top: 34px;
    font-size: 20px;
}

.stanby_next_btn {
    position: absolute;
    text-align: center;
    top: 509px;
    width: 1200px;
    height: 58px;
    border-top: 1px solid #ECECEC;
    padding-top: 30px;
}

.stanby_next_btn a {
    display: inline;
    box-sizing: border-box;
    width: 200px;
    height: 58px;
    padding: 19px 92px;
    line-height: 58px;
    background: #fff;
    border: 1px solid #BBBBBB;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    color: #777;
}
/*외국인 회원가입대기 끝*/