/*register type*/

/*회원가입 구분 시작*/
.section {
    display: flex;
    position: relative;
    margin: 0 auto;
    padding-top: 150px;
    width: 1200px;
    height: 394px;
}

.join_header {
    float: left;
    width: 600px;
    height: 45px;
}

.join_header .join_bg {
    float: left;
    font-size: 32px;
    font-weight: 700;
}

.join_header .join_step {
    display: flex;
    align-items: center;
    padding-top: 13px;
}

.join_header .join_step > li {
    float: left;
    margin-left: 25px;
    font-weight: 300;
    font: 14px;
    vertical-align: middle;
    color: #777;
}

.join_header .join_step > li:nth-last-child() {
    margin-right: 0px;
}

.join_header .join_step .join_step_01_on {
    font-weight: 700;
    color: #3E778A;
}

.join_member {
    position: absolute;
    text-align: center;
    width: 1200px;
    height: 311px;
    top: 235px;
}

.join_member li {
    display: inline-block;
    margin: 0 40px 60px 0;
    width: 210px;
    height: 249px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    background: fff;
    text-align: center;
}

.join_member .join03 {
    margin-right: 0px;
}

.join_member .join01 a .i_icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 40px 0 20px 0;
    background: url("../image/register/User\ Male.png") no-repeat;
}

.join_member .join02 a .i_icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 40px 0 20px 0;
    background: url("../image/register/User\ Male02.png") no-repeat;
}

.join_member .join03 a .i_icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 40px 0 20px 0;
    background: url("../image/register/Business\ Building.png") no-repeat;
}

.join_member li a p {
    color: #333;
    font-size: 20px;
    margin-bottom: 20px;
}

.join_member li .btn {
    text-align: center;
    padding: 6px 20px;
    width: 96px;
    height: 35px;
    background: #3E778A;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.join_member li:hover{
    background: #E2EEF0;
    border: 1px solid #70BAB5;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
}
/*회원가입 구분 끝*/




/*약관동의 시작*/
.section {
    display: flex;
    position: relative;
    margin: 0 auto;
    padding-top: 150px;
    width: 1200px;
    height: 394px;
    background-color: #70BAB5;
}

.join_header {
    float: left;
    width: 600px;
    height: 45px;
}

.join_header .join_bg {
    float: left;
    font-size: 32px;
    font-weight: 700;
}

.join_header .join_step {
    display: flex;
    align-items: center;
    padding-top: 13px;
}

.join_header .join_step > li {
    float: left;
    margin-left: 25px;
    font-weight: 300;
    font: 14px;
    vertical-align: middle;
    color: #777;
}

.join_header .join_step > li:nth-last-child() {
    margin-right: 0px;
}

.join_header .join_step .join_step_02_on {
    font-weight: 700;
    color: #3E778A;
}

.agree {
    position: absolute;
    text-align: center;
    width: 1200px;
    height: 346px;
    top: 235px;
    background-color: red;
}

.agree_box{
    width: 600px;
    height: 45px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
}