/* slide */
.max {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

#main-container .main-slider .swiper-slide {
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
}
#main-container .main-slider .swiper-slide img {
  object-fit: cover;
  width: 100%;
}
#main-container .main-slider .swiper-pagination-fraction {
  width: 100%;
  right: 0 !important;
  display: flex;
  margin: auto;
  max-width: 1200px;
  justify-content: end;
  color: #fff;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #f5f5f5;
  gap: 4px;
  bottom: 30px;
}
#main-container
  .main-slider
  .swiper-pagination-fraction
  .swiper-pagination-current {
  font-family: "Roboto";
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  color: #f5f5f5;
}
#main-container
  .main-slider
  .swiper-pagination-fraction
  .swiper-pagination-total {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #f5f5f5;
}

#main-container .main-slider .title-wrap {
  position: absolute;
  z-index: 10;
  display: flex;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  margin: auto;
  height: calc(100% - 90px);
  display: flex;
  align-items: center;
  gap: 0px;
  top: 90px;
}
#main-container .main-slider .main-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #ffffff;
}
#main-container .main-slider .sub-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #f5f5f5;
  margin-top: 20px;
}

/* 검색창 */
.search-container {
  width: 100%;
  padding: 20px 0;
  background: #70bab5;
}
.search-container aside {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}
.search-container .search-wrap {
  font-family: "Noto Sans Korean";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666;
  padding: 10px 11px;
  display: flex;
  align-items: center;
  background: #ffffff;
  border: 1px solid #cddce1;
  border-radius: 4px;
  max-width: 370px;
  width: 40%;
}
.search-wrap input::placeholder {
  color: #bbbbbb;
}
.search-wrap input {
  border: 0;
  outline: none;
  width: calc(100% - 20px);
}

.search-wrap .search-icon {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

/* 프로젝트 */
#main-container .project-container {
  padding: 80px 0;
}

#main-container .black-list-container .title-wrap {
  max-width: 1250px;
  width: 104%;
  position: relative;
  margin: 0 auto;
}

#main-container .black-list-container .title-wrap,
#main-container .project-container .title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
#main-container .black-list-container .title-wrap .title,
#main-container .project-container .title-wrap .title {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #333333;
  display: flex;
  align-items: center;
}
#main-container .black-list-container .title-wrap .sub-title,
#main-container .project-container .title-wrap .sub-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-left: 16px;
  color: #666666;
}
#main-container .black-list-container .title-wrap .sub-title b,
#main-container .project-container .title-wrap .sub-title b {
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  color: #3e778a;
}

#main-container .black-list-container .title-wrap .more-btn,
#main-container .project-container .title-wrap .more-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #666666;
  display: flex;
  align-items: center;
  gap: 6.5px;
  cursor: pointer;
}
#main-container .black-list-container .title-wrap .more-icon,
#main-container .project-container .title-wrap .more-icon {
  width: 20px;
  height: 20px;
}

/* 블랙리스트 */
#main-container .black-list-container {
}

#main-container .black-list-container {
  position: relative;
  padding: 80px 0px;
  gap: 40px;
  background: #f5f5f5;
}
#main-container .black-list-container .black-slider-wrap {
  position: relative;
}
#main-container .black-list-container .black-slider {
  width: 104%;
  margin-left: -2%;
}
#main-container .black-list-container .black-box {
  padding: 20px 30px;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
#main-container .black-list-container .black-box .black-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #666666;
  border-bottom: 1px solid #dddddd;
  padding: 10px 0;
  margin-bottom: 20px;
}
#main-container .black-list-container .black-box .black-sub {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
#main-container .black-list-container .black-box .black-sub-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #666666;
  width: 100%;
}
#main-container .black-list-container .black-box .black-sub-title span {
  font-weight: 400;
  margin-left: 8px;
}

.black-slide-btn-wrap {
  display: flex;
  width: 110%;
  justify-content: space-between;
  position: absolute;
  top: calc(50% - 28px);
  z-index: 10;
  left: -5%;
}

.black-slide-btn-wrap .black-button-prev img,
.black-slide-btn-wrap .black-button-next img {
  width: 56px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.black-slide-btn-wrap .black-button-prev img {
  transform: rotate(180deg);
}

#main-container .black-list-container .tag-wrap {
  display: flex;
  gap: 8px;
  max-width: 1250px;
  width: 104%;
  position: relative;
  margin: 0 auto 20px auto;
}

/* 게시판 */
#main-container .board-container {
  padding: 80px 0;
  display: flex;
  gap: 40px;
}
#main-container .board-container .board-title-box {
  padding: 30px 20px;
  width: 270px;

  background: #70bab5;
  border-right: 1px solid #dddddd;
  border-radius: 20px;
}

#main-container .board-container .board-title-box .title {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #ffffff;
  margin-bottom: 20px;
}

#main-container .board-container .board-title-box .tag-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 85px;
}
#main-container .board-container .board-title-box .tag-wrap > div {
  width: 100%;
  display: flex;
}

#main-container .board-container .board-title-box .tag-wrap .click {
  background: #ffffff !important;
  border-radius: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #70bab5 !important;
}

#main-container .board-container .board-title-box .tag-wrap .tag {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  background-color: transparent;
  color: #ffffff;
  padding: 8px 20px;
  border: 1px solid #ffffff;
  border-radius: 24px;
}

#main-container .board-container .board-title-box .more-btn {
  display: flex;
  gap: 6.5px;
  align-items: center;
  cursor: pointer;
}
#main-container .board-container .board-title-box .more-btn p {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #ffffff;
}
#main-container .board-container .board-title-box .more-btn img {
  width: 20px;
}

#main-container .board-container .board-content {
  width: calc(100% - 270px);
}

#main-container .board-container .board-content .row {
  width: 100%;
  margin-top: 0 !important;
}
#main-container .board-container .board-content .table-head {
  width: 100%;
  border-width: 2px 0px;
  border-style: solid;
  border-color: #999999;
}
#main-container .board-container .board-content .table-body {
  width: 100%;
  border-bottom: 1px solid #dddddd;
  display: flex;
}
#main-container .board-container .board-content .table-body:nth-last-child(1) {
  border-bottom: 0;
}
#main-container .board-container .board-content .title,
#main-container .board-container .board-content .reg-date {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 20px;
  color: #666666;
}
#main-container .board-container .board-content .title {
  width: calc(100% - 120px);
}
#main-container .board-container .board-content .table-head .title {
  text-align: center;
}
#main-container .board-container .board-content .reg-date {
  text-align: center;
  width: 120px;
}
#main-container .board-container .board-content .table-head .title,
#main-container .board-container .board-content .table-head .reg-date {
  font-weight: 700;
}

#main-container .ad-container {
  background: #fafafc;
  border-top: 1px solid #dddddd;
}
#main-container .ad-container .ad-content {
  margin: 0 auto;
  padding: 80px 0;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#main-container .ad-container .ad-content .phone-img {
  width: auto;
  height: 520px;
  position: absolute;
  bottom: 0;
  right: 10px;
}

#main-container .ad-container .ad-content .text-wrap {
  margin-bottom: 97px;
}

#main-container .ad-container .ad-content .text-wrap .text {
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #333333;
  align-items: center;
  margin-bottom: 50px;
}

#main-container .ad-container .ad-content .text-wrap .logo {
  width: 250px;
  margin-bottom: -12px;
  margin-right: 10px;
}

#main-container .ad-container .ad-content .text-wrap .text span {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #333333;
}

#main-container .ad-container .ad-content .text-wrap .img-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 190px;
  gap: 15px;
}
#main-container .ad-container .ad-content .text-wrap .apple,
#main-container .ad-container .ad-content .text-wrap .google {
  width: 190px;
}
