/*공지사항 리스트 시작*/
#notice01_section {
    position: relative;
    margin: 0 auto;
    width: 1200px;
  }

#notice01_section .ntitle01_header {
    width: 600px;
    height: 45px;
}

#notice01_section .ntitle01_header .ntitle01_bg {
    font-size: 32px;
    font-weight: 700;
}

#notice01_section .notice01_box {
    margin-top: 40px;
    width: 1200px;
    display: flex;
}

.n01_l {
  margin-right: 40px;
    width: 270px;
}

.n01_l .menu {
    width: 268px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    background-color: #fff;
}

.n01_l .menu .menu01 {
    box-sizing: border-box;
    padding: 18px 20px;
    background: #70bab5;
    border-bottom: 1px solid #ececec;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}

.n01_l .menu .menu02 {
    box-sizing: border-box;
    padding: 18px 20px;
    background: #fff;
    color: #333;
    border-bottom: 1px solid #ececec;
}

.n01_l .menu .menu02 .i_icon {
    float: right;
    position: relative;
    top: 2px;
    width: 16px;
    height: 16px;
    background: url("../image/community/right_arrow.png") no-repeat;
}

.n01_l .menu .menu03 {
    box-sizing: border-box;
    padding: 18px 20px;
    background: #fff;
    color: #333;
}

.n01_l .menu .menu03 .i_icon {
    float: right;
    position: relative;
    top: 2px;
    width: 16px;
    height: 16px;
    background: url("../image/community/right_arrow.png") no-repeat;
}

#notice01_section .notice01_box .n01_r {
    width: 890px;
}

#notice01_section .notice01_box .n01_r .n01_r_header {
    display: flex;
    width: 890px;
}

#notice01_section .notice01_box .n01_r .n01_r_header h3 {
    display: flex;
    font-size: 20px;
    font-weight: 700;
}
