/* 프로젝트 컴포넌트 */
#main-container .project-slider .swiper-slide {
  position: relative;
  margin: auto;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.project-box-container {
  position: relative;
}

.project-slide-btn-wrap {
  display: flex;
  width: 110%;
  justify-content: space-between;
  position: absolute;
  top: calc(50% - 28px);
  z-index: 10;
  left: -5%;
}

.project-slide-btn-wrap .project-button-prev img,
.project-slide-btn-wrap .project-button-next img {
  width: 56px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.project-slide-btn-wrap .project-button-prev img {
  transform: rotate(180deg);
}

#main-container .project-slider .swiper-slide > a {
  width: 100%;
}
/*프로젝트 콘텐츠 */
#project-box {
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}

#project-box .project-title-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
}
#project-box .project-title-wrap .company {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;

  color: #555555;
}
#project-box .project-title-wrap .title {
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;

  color: #555555;
}

#project-box .info-btn-wrap {
  display: flex;
  justify-content: space-between;
}

#project-box .info-wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
#project-box .info-wrap > div {
  width: 100%;
}
#project-box .info-wrap .info-box {
  display: flex;
}
#project-box .info-wrap .info-col {
  width: 50%;
}
#project-box .info-wrap .info-title {
  padding: 4px 8px;
  background: #eeeeee;
  border-radius: 4px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #333333;
}
#project-box .info-wrap .info-text {
  font-weight: 500;
  margin-left: 8px;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;

  color: #666666;
}

#project-box .btn-wrap .day-btn {
  text-align: center;
  padding: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#project-box .btn-wrap .unlike-btn,
#project-box .btn-wrap .like-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  gap: 4px;
  margin-top: 10px;
  cursor: pointer;
}

#project-box .btn-wrap .unlike-btn {
  border: 1px solid #bbbbbb;
  color: #777777;
}

#project-box .btn-wrap .like-btn {
  color: #ff6565;
  background: #fff0f0;
  border: 1px solid #ff6565;
}

#project-box .btn-wrap .like-icon {
  width: 14px;
  height: 12px;
}

/* 프로젝트 리스트 페이지 */

#project-nav {
  border: 1px solid #dddddd;
  border-radius: 5px;
  max-width: 270px;
  width: 100%;
}
#project-nav .project-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  padding: 15px 20px;
  border-bottom: 1px solid #dddddd;
}

#project-nav .category-wrap {
  padding: 15px 20px;
  border-bottom: 1px solid #dddddd;
}
#project-nav .category-wrap:nth-last-child(2) {
  border-bottom: none;
}

#project-nav .category-wrap .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #555555;
  margin-bottom: 10px;
}
#project-nav .category-wrap .category {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#project-nav .category-wrap .check-text {
  width: auto;
  min-width: 47%;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #555555;
  display: flex;
  align-items: center;
  gap: 5px;
}
#project-nav .category-wrap .check-text input {
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
  width: 20px;
  height: 20px;
}

#project-nav .fitler-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #3e778a;
  background: #dee6e9;
  border-radius: 5px;
  padding: 14px;
  margin: 20px 10px 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 프로젝트 리스트 페이지 */
#project-list {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
  margin: 60px auto 0;
}
#project-list .project-content {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

#project-list .project {
  max-width: 890px;
  width: 100%;
}

#project-list .project-title-wrap {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
}

#project-list .project-title-wrap .project-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #333333;
}
#project-list .project-title-wrap .project-sub-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #666666;
}

#project-list .project-title-wrap .project-title span {
  color: #3e778a;
}

#project-list .project-title-wrap .project-sub-title span {
  font-weight: 800;
  color: #70bab5;
}

#project-list .ad-box-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #3e778a;

  background: #e2eef0;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 10px;
}

#project-list .ad-project-box {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  flex-wrap: wrap;
}

#project-list .ad-project-box #project-box {
  width: auto;
}

/* 프로젝트 필터 */
#project-filter-wrap {
  font-family: "Noto Sans Korean";
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #555555;
  justify-content: end;
  display: flex;
  margin: 30px 0 20px 0;
}

.search-fiter-wrap {
  margin: 0 0 20px 0 !important;
}

#project-filter-wrap .open {
  display: flex;
}
#project-filter-wrap .close {
  display: none;
}
#project-filter-wrap .filter-item {
  position: relative;
  padding-right: 5px;
  vertical-align: middle;
}
#project-filter-wrap .filter-item .filter-text {
  display: flex;
  gap: 4px;
  align-items: center;
}
#project-filter-wrap .filter-list-wrap {
  position: absolute;
  top: 25px;
  right: 0;
  width: 90px;
  background: #ffffff;
  border: 1px solid #dddddd;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 15px;
  gap: 15px;
  flex-wrap: wrap;
}
#project-filter-wrap .filter-list {
  width: 100%;
  display: flex;
  gap: 5px;
  align-items: center;
}
#project-filter-wrap .filter-list input {
  accent-color: #70bab5;
  margin: 0;
}
#project-filter-wrap .filter-list label {
  width: 100%;
}

/* 프로젝트 테이블 */
#project-table {
  border-collapse: collapse;
  border-radius: 5px;
  border-style: hidden;
  box-shadow: 0 0 0 1px #cddce1;
}

#project-table thead .t_title {
  width: auto;
}

#project-table thead .th-title {
  width: 460px;
}

#project-table tbody tr td {
  padding: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #555555;
  text-align: center;
  vertical-align: middle;
}

#project-table .title-td {
  text-align: left;
}

#project-table .t-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #555555;
  margin-bottom: 10px;
}

#project-table .table-row {
  width: 100%;
  display: contents;
}

#project-table .info-box {
  display: flex;
  gap: 16px;
}

#project-table .info-box .info {
  display: flex;
  gap: 4px;
}

#project-table .info-box .info .info-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #333333;
  padding: 4px 8px;
  background: #eeeeee;
  border-radius: 4px;
}

#project-table .info-box .info .info-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #777777;
}

/* 프로젝트 상세 페이지 */
#project-detail {
  max-width: 1200px;
  width: 100%;
  margin: 60px auto 0;
  padding-bottom: 80px;
  border-bottom: 1px solid #dddddd;
}
#project-detail .title-box {
  padding: 20px;
  background: #f1f7f7;
  border: 1px solid #9fbec5;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

#project-detail .title-box .title-box-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  margin-bottom: 20px;
}
#project-detail .title-box .info-box-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#project-detail .title-box .info-box {
  background: #ffffff;
  border: 1px solid #9fbec5;
  border-radius: 5px;
  display: flex;
  height: 40px;
}

#project-detail .title-box .info-box .info {
  display: flex;
  padding: 10px;
  gap: 15px;
}
#project-detail .title-box .info-box .info:nth-child(2) {
  border-right: 1px #cddce1 solid;
  border-left: 1px #cddce1 solid;
}
#project-detail .title-box .info-box .info .title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #333333;
}
#project-detail .title-box .info-box .info .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: right;

  color: #555555;
}
#project-detail .title-box .date {
  display: flex;
  font-size: 14px;
  line-height: 17px;
  color: #666666;
}
#project-detail .title-box .date .title {
  font-weight: 700;
  color: #666666;
  margin-right: 5px;
}
#project-detail .title-box .date .text {
  font-weight: 400;
  color: #666666;
}
#project-detail .title-box .date .line {
  /* border: 1px solid #cddce1; */
  color: #cddce1;
  margin: 0 10px;
}

.project-detail-content {
  display: flex;
  gap: 40px;
  margin-top: 40px;
  min-height: 400px;
  height: 100%;
}

.project-content .summary-title {
}
.project-content .content-title {
  margin: 60px 0 10px 0;
}
.project-content .content-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #555555;
}
.project-content img,
.project-content .content-text img {
  width: 100%;
}

.project-detail-content .project-content .summary-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  margin: 40px 0 10px 0;
}
.project-detail-content .project-content {
  width: calc(100% - 370px);
}

/* 요약 테이블 */
.project-detail-table {
  border-collapse: collapse;
  border-radius: 5px;
  border-style: hidden;
  box-shadow: 0 0 0 1px #9fbec5;
}

.project-detail-table tr {
  border-bottom: 1px solid #dee6e9;
}
.project-detail-table tr td {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #555555;
  padding: 15px 10px;
}
.project-detail-table tr .td-title {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #555555;
  width: 140px;
  background: #f1f7f7;
}

.project-detail-content .project-etc {
  padding: 0px 40px;
  width: 370px;
  box-sizing: border-box;
  border-left: 1px solid #dddddd;
  position: relative;
}

.project-detail-content .project-etc .like-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  margin-top: 35px;
  margin-bottom: 15px;

  display: flex;
  align-items: center;
  color: #999999;
  vertical-align: middle;
}
.project-detail-content .project-etc .like-text img {
  margin-right: 4px;
  width: 16px;
  height: 16px;
}
/* .project-detail-content .project-etc .like-text img { */
.project-detail-content .project-etc > div {
}
.project-detail-content .project-etc .like-project-btn,
.project-detail-content .project-etc .share-btn,
.project-detail-content .project-etc .apply-btn,
.project-detail-content .project-etc .team-apply-btn {
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 290px;
}
.project-detail-content .project-etc .like-project-btn img {
  width: 20px;
  height: 18px;
}
.project-detail-content .project-etc .share-btn {
  margin-top: 15px;
}
.project-detail-content .project-etc .share-btn img {
  width: 19px;
  height: 19px;
}

.project-detail-content .project-etc .apply-btn-wrap {
  position: absolute;
  bottom: 0;
}
.project-detail-content .project-etc .apply-btn {
}
.project-detail-content .project-etc .apply-btn img {
  width: 16px;
  height: 20px;
}
.project-detail-content .project-etc .team-apply-btn {
  margin-top: 15px;
}
.project-detail-content .project-etc .team-apply-btn img {
  width: 20px;
  height: 18px;
}

#main-container .project-slide-container {
  padding: 80px 0 20px;
}

#apply {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-top: 60px;
  /* padding-bottom: 60px; */
}

#apply .apply-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #333333;
  margin-bottom: 40px;
}

#apply .field-wrap {
  width: 100%;
}

#apply .field-wrap .field_input textarea {
  height: 144px;
  resize: none;
}

#apply .field-wrap .team-list-wrap {
  border: 1px solid #dddddd;
  border-radius: 5px;
  width: 100%;
}
#apply .field-wrap .team-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #555555;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #dddddd;
}
#apply .field-wrap .team-list:nth-last-child(1) {
  border-bottom: none;
}

#apply .field-wrap .team-list .name {
  width: 187px;
}
#apply .field-wrap .team-list .phone,
#apply .field-wrap .team-list .email {
  width: 476px;
}

#apply .add-member-wrap {
  display: flex;
  justify-content: end;
  width: 100%;
  margin-top: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid #dddddd;
}
#apply .add-member-wrap .add-member {
  padding: 12px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#apply .add-member-wrap .add-member img {
  width: 16px;
  height: 16px;
}

#apply .field-wrap .team-list .close-icon {
  width: 14px;
  height: 14px;
}

#apply .team-apply-btn-wrap {
  display: flex;
  justify-content: center;
}
#apply .team-apply-btn {
  margin-top: 30px;
  padding: 20px 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
#apply .team-apply-btn img {
  width: 20px;
  height: 18px;
}

#apply .completion-box-wrap {
  border-bottom: 1px solid #ececec;
  padding-bottom: 80px;
}
#apply .completion-box {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  width: 100%;
  background: #e2eef0;
  gap: 10px;
  border-radius: 5px;
}
#apply .completion-box .title {
  font-weight: 700;
}

/* 팝업 */
#popup {
  position: fixed;
  top: -90px;
  bottom: 0;
  left: 0;
  padding-top: 90px;
  right: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}
#popup .popup-box-wrap {
  border-radius: 5px;
  width: 700px;
  height: 520px;
  background-color: #fff;
}
#popup .popup-box {
  padding: 30px 20px;
}
#popup .popup-title {
  padding: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f1f7f7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#popup .popup-title img {
  width: 17px;
  height: 17px;
}
#popup .popup-box .search-title {
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.05em;

  color: #555555;
  margin-bottom: 10px;
}
#popup .popup-box .popup-search {
  padding: 10px;
  gap: 10px;
  width: 373px;
  background: #ffffff;
  border: 1px solid #cddce1;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
#popup .popup-box .popup-search input:focus,
#popup .popup-box .popup-search input {
  outline: none;
  border: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #333;
}
#popup .popup-box .popup-search input::placeholder {
  color: #bbb;
}
#popup .popup-box .popup-search img {
  width: 18px;
  height: 18px;
}
#popup .popup-box .popup-search {
}

#popup .popup-box .field-wrap {
  width: 100%;
}

#popup .popup-box .field-wrap .team-search-list {
  height: 162px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}
#popup .popup-box .field-wrap .team-list-wrap {
  border: 1px solid #dddddd;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}
#popup .popup-box .field-wrap .team-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #555555;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #dddddd;
}
#popup .popup-box .field-wrap .team-list:nth-last-child(1) {
  border-bottom: none;
}

#popup .popup-box .field-wrap .team-list .name {
  width: 30%;
}
#popup .popup-box .field-wrap .team-list .phone,
#popup .popup-box .field-wrap .team-list .email {
  width: 35%;
}

#popup .popup-box .field-wrap .add-member-wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}
#popup .popup-box .field-wrap .add-member-wrap .add-member {
  padding: 19px 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#popup .popup-box .field-wrap .add-member-wrap .add-member img {
  width: 16px;
  height: 16px;
}

#popup .popup-box .field-wrap .team-list .close-icon {
  width: 14px;
  height: 14px;
}

#popup .popup-table-wrap {
  width: 500px;
  height: 380px;
}

.table-color-row {
  border-collapse: collapse;

  border: 1px solid #777777;
}

.table-color-row tr {
  border-bottom: 1px solid #dddddd;
}

.table-color-row tr:nth-last-child(1) {
  border-bottom: none;
}

.table-color-row td {
  padding: 11.5px 10px;
}

.table-color-row td .lv {
  margin-left: 4px;
  display: inline-flex;
  padding: 4px 6px;
  background: #e2eef0;
  border: 1px solid #cddce1;
  border-radius: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #3e778a;
}

.table-color-row td:nth-child(1) {
  text-align: center;
  width: 130px;
  background: #e2eef0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
}

.table-color-row td:nth-child(2) {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #555555;
}

.next-btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.next-btn-wrap .btn {
  padding: 19.5px 72.5px;
}
